body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

.header {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid silver 0;
  border-bottom-width: 1px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header button, .header a {
  cursor: pointer;
  text-align: center;
  margin-right: 30px;
  border-radius: 4px;
  color: #fff;
  width: 100px;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  background-color: #a1a1a1;
  border: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .users {
  height: 300px;
  width: 250px;
  margin: 50px;
  border: solid silver 1px;
}

.container .users .users_data {
  min-height: 240px;
  padding: 5px 0 0 30px;
}

.container .users .users_buttons {
  max-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .users .users_buttons button {
  width: 80px;
  height: 30px;
  font-size: 14px;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #afafaf96;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modalChange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  height: 450px;
  background-color: #f6f6f6;
  padding: 20px 50px 0 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
}

.modal .modalChange .modalChange_cap {
  text-align: center;
  font-size: 18px;
}

.modal .modalChange span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.modal .modalChange span select {
  height: 23px;
  width: 153px;
}

.modal .modalChange button {
  margin-top: 30px;
}

.statisticsModal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #afafaf96;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.statisticsModal .statisticsTable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  height: 450px;
  background-color: white;
}

.statisticsModal .statisticsTable .statisticsBlock {
  width: 150px;
  height: 100%;
  border: solid silver 1px;
}

.statisticsModal .statisticsTable .statisticsBlock .infoText {
  margin-left: 10px;
}

.statisticsModal .statisticsTable .statisticsBlock .statisticsBlock_name {
  height: 30%;
  border-bottom: solid silver 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.statisticsModal .statisticsTable .statisticsBlock .statisticsBlock_name .cap {
  text-align: center;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */