body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;    
}

.header{
    width: 100%;
    height: 50px;
    display: flex;
    border: solid silver 1px;
    border-bottom-width: 1px;
    justify-content: flex-end;
    align-items: center;
    button, a{
        cursor: pointer;
        text-align: center;
        margin-right: 30px;
        border-radius: 4px;
        color: #fff;
        width:100px;
        font-size: 14px;
        padding: 8px 16px;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);        
        background-color: #a1a1a1;
        border: none;
    }    
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .usersContainer{
        width: 350px;
        height: 450px;
        margin: 50px;
        border: solid silver 2px;
        text-align: center;
        .userCheck{
            display: flex;
            .cartDebit{
                width: 50%;
                text-align: center;
            }
            .cartCredit{
                width: 50%;
                text-align: center;
            }
        }
    }
}

.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #afafaf96;
    display: none;
    justify-content: center;
    align-items: center;
    form{
        padding-top: 36px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 469px;
        width: 624px;
        text-align: center;
        .userCheck{
            display: flex;
            width: 100%;
            justify-content: space-evenly;
        }
        span{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            select{
                width: 155px;
                height: 23px;
            }
        }
    }
}

.statisticsModal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #afafaf96;
    align-items: center;
    justify-content: center;
    .statisticsTable{
        display: flex;
        width: 600px;
        height: 150px;
        background-color: white;
        .statisticsBlock{
            width: 200px;
            height: 100%;
            border: solid silver 1px;
            .statisticsBlock_name{
                height: 50%;
                border-bottom: solid silver 2px;
                display: flex;
                align-content: center;
                justify-content: space-evenly;
                flex-direction: column;
                align-items: stretch;
                .cap{
                    text-align: center;
                }
            }
            .statisticsBlockResult{
                display: flex;
                justify-content: center;
                margin-top: 10px;
            }
            .customersOweBankButtons{
                margin-top: 10px;
                display: flex;
                justify-content: center;
                justify-content: space-around;
            }
        }
    }
}

.active{
    display: flex;
}
